*,
::before,
::after {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.page,
.page__body,
#root {
    height: 100%;
}

.page__body {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;

    &[class] {
        list-style: none;
    }
}
